@using TestWS.Utils
@using TestWS.Models.Tickets
@model int?
@{
    var tariffsList = (Tariff[])ViewData["TariffsList"];
}

<div class="form-group">
    <label>Tariff</label>
    <select required class="form-control" name="TariffID" id="TariffID">
        @if (tariffsList != null)
        {
            <option hidden disabled selected></option>
            foreach (var tariff in tariffsList)
            {
                <option value="@tariff.Id" @(Model != null && tariff.Id == Model ? "selected" : string.Empty)>@tariff.Name</option>
            }
        }
    </select>
</div>
